body {
     box-shadow: none;
     padding: 30px;
     margin: 50px;
}
h3 
{
    color: aquamarine;
    box-shadow: none;
    font-size: 15px;
    padding: 30px;
    margin: 50px;
}

canvas
{
    
}
